<div class="container bg">

    <div class="row">
        <div class="center col-sm-12">
            <h1>Burgerbar App</h1>

            <p></p>
        </div>
    </div>
    <!-- end .row -->

    <div class="row">
        <div class="col-sm-6">

            <br>
            <h2>Grub</h2>

            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                    <form>
                        <input type="hidden" name="devoured" value="true">
                        <button id="{{id}}" class="btn-primary devour" type="submit">Devour It!</button>
                    </form>

                </li>
                {{/unless}}
                {{/each}}
            </ul>

        </div>

        <div class="col-sm-6">
            <br>
            <h2>Grubbed</h2>

            {{#each burgers}}
            {{#if this.devoured}}
            <li>
                {{this.id}}
                {{this.burger_name}}

            </li>
            {{/if}}
            {{/each}}

        </div>

    </div>


    <div class="row">
        <div class="center col-sm-12">

            <h2>Add Your Own</h2>
            <div id="createburger" class="button-size">
                <p>Enter a burger you want to order and click Submit Order!</p>

                <form class="create-update-form">
                    <input type="text" id="ca" name="burger_name">
                    <button class="btn-primary create" type="submit">Submit Order</button>
                </form>
            </div>


        </div>

        <script>
            $(".devour").on("click", function (e) {
                e.preventDefault();
                console.log(this.id);
                $.ajax({
                    method: "PUT",
                    url: "/burger/update/" + this.id,
                    data: {
                        devoured: true
                    }
                }).then(function (res) {
                    window.location.reload();
                });
            });
            $(".update").on("submit", function (event) {
                // Make sure to preventDefault on a submit event.
                event.preventDefault();
                // Get the ID by finding an element with a "name" attribute equal to the string "id"
                var updatedBurger = {
                    burgers: $(".update [burger_name]").val().trim()
                };
                // Send the PUT request.
                $.ajax("/burgers/" + id, {
                    type: "PUT",
                    data: newBurgers,
                }).then(
                    function () {
                        console.log("updated id ", id);
                        // Reload the page to get the updated list
                        location.reload();
                    })
            });
            $(".create").on("click", function (event) {
                // Make sure to preventDefault on a submit event.
                event.preventDefault();
                // [name=burger] will find an element with a "name" attribute equal to the string "burger
                var newBurger = {
                    burgers: $("#ca").val().trim()
                };
                console.log(newBurger);
                // Send the POST request.
                $.ajax("/burger/create", {
                    method: "POST",
                    data: newBurger,
                }).then(
                    function () {
                        console.log("added new burger");
                        // Reload the page to get the updated list
                        location.reload();
                    }
                );
            });
        </script>